

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #222; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none; color: #666; background: none }
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}

select{
    width: 1.64rem;
    height: 0.3rem;
    color:#4A4A4A;
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #C6C6C6 ;
    border-radius: 0;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("'../../static/image/select_arrow.png") no-repeat scroll right center transparent;
    background-size: 0.36rem 0.21rem;

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 0.37rem;
    padding-left:0.07rem;
  }


  /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
  select.sty1::-ms-expand { display: none; }

  .class_changeTitle {
    display: flex;
    justify-content: space-between;
  }
  .class_changeTitle .title_left {
    color: #4592FE;
    font-size: 0.15rem;
  }
  .class_changeTitle .title_left span {
    width: 0.1rem;
    height: 0.1rem;
    display: inline-block;
    border-radius: 0.1rem;
    margin-right: 0.08rem;
    border: 0.02rem solid #4592FE;
  }
  .class_changeTitle .title_right {
    background: #4592FE;
    color: #fff;
    padding: 0.02rem 0.06rem;
    text-align: center;
    border-radius: 0.05rem;
    font-size: 0.15rem;
  }
  .class_title_list {
    margin-top: 0.11rem;
    height: 5.9rem;
    overflow: auto;
  }
  .classManagement_btn,
  .personManagement_btn {
    position: absolute;
    bottom: 0.42rem;
    left: 50%;
    margin-left: -0.62rem;
  }
  .intr_box {
    width: 5.13rem;
    margin: 0.29rem auto;
    background: #F3F6FC;
    border-radius: 0.12rem;
  }
  .intr_box .intr_row {
    display: flex;
    align-items: center;
    color: #9B9B9B;
    font-size: 0.1rem;
    padding: 0.09rem 0.13rem;
  }
  .intr_box .intr_row img {
    display: block;
    padding-right: 0.06rem;
  }
  .intr_box .intr_row span {
    color: #4A4A4A;
  }

html body {
    width: 100%;
    height: 100%;
    min-height: 10.8rem;
    font-size: 0.16rem;
    color: #4A4A4A;
  }
  .bg_y {
    background: #FFC151 !important;
  }
  .bg_b {
    background: #6EDBEF !important;
  }
  .bg_r {
    background: #FF696C !important;
  }
  .bg_p {
    background: #8B90FF !important;
  }
  .btn_254 {
    width: 2.54rem;
    height: 0.55rem;
    background: #4592FE;
    border-radius: 0.06rem;
    color: #fff;
    text-align: center;
    line-height: 0.55rem;
    font-size: 0.20rem;
  }
  .btn_124 {
    width: 1.24rem;
    height: 0.42rem;
    background: #4994FD;
    border-radius: 0.29rem;
    color: #fff;
    text-align: center;
    line-height: 0.42rem;
    font-size: 0.14rem;
    cursor: pointer;
  }
  .btn_172 {
    width: 1.72rem;
    height: 0.48rem;
    background: #4994FD;
    border-radius: 0.06rem;
    color: #fff;
    text-align: center;
    line-height: 0.48rem;
    font-size: 0.17rem;
    cursor: pointer;
  }
  .btn_148 {
    width: 1.48rem;
    height: 0.32rem;
    border-radius: 0.07rem;
    color: #fff;
    text-align: center;
    line-height: 0.32rem;
    font-size: 0.15rem;
    cursor: pointer;
  }
.el-dialog__body{
    height:100%;
    overflow:hidden;
}
  .btn_108 {
    width: 1.08rem;
    height: 0.42rem;
    background: #4994FD;
    border-radius: 0.29rem;
    color: #fff;
    text-align: center;
    line-height: 0.42rem;
    font-size: 0.14rem;
    cursor: pointer;
  }
  .content_title {
    height: 0.65rem;
    font-size: 0.16rem;
    color: #5C5C5C;
    line-height: 0.65rem;
  }
  .class_title {
    height: 0.35rem;
    margin-bottom: 0.2rem;
  }
  .class_S {
    background: url('../../static/image/s_l.png');
    background-size: cover;
  }
  .class_N {
    background: url('../../static/image/n_l.png');
    background-size: cover;
  }
  .class_A {
    background: url('../../static/image/a_l.png');
    background-size: cover;
  }
  .class_P {
    background: url('../../static/image/p_l.png');
    background-size: cover;
  }
  .class_list .class_item {
    width: 4.47rem;
    height: 0.68rem;
    background: #fff;
    box-shadow: 0 0 0.01rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.20rem;
    font-size: 0.16rem;
    box-sizing: border-box;
    margin-left: 0.02rem;
    margin-bottom: 0.21rem;
    overflow: hidden;
    position: relative;
  }
  .class_list .class_item .fixed_lock {
    position: absolute;
    width: 0.21rem;
    height: 0.2rem;
    right: 0.33rem;
    top: 0.25rem;
  }
  .class_list .class_item .class_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 4rem;
  }
  .class_list .class_item .class_text .class_text_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .class_list .class_item .class_text .class_text_row .class_name {
    font-size: 0.16rem;
    color: #5C5C5C;
  }
  .class_list .class_item .class_text .class_text_row .class_time,
  .class_list .class_item .class_text .class_text_row .class_level,
  .class_list .class_item .class_text .class_text_row .class_teacher {
    font-size: 0.14rem;
    color: #FFC151;
  }
  .class_list .class_fixed {
    width: 1.20rem;
    height: 1.20rem;
    border-radius: 100%;
    position: absolute;
    top: -0.7rem;
    left: -0.5rem;
    z-index: 1;
  }
  .class_list .class_item_yellow .class_fixed {
    background: #FFC96B;
    opacity: 0.4;
  }
  .class_list .class_item_blue .class_fixed {
    background: #A2EFFF;
    opacity: 0.4;
  }
  .class_list .class_item_blue .class_text .class_text_row .class_time,
  .class_list .class_item_blue .class_text .class_text_row .class_level,
  .class_list .class_item_blue .class_text .class_text_row .class_teacher {
    color: #6EDBEF;
  }
  .class_list .class_item_y {
    background: #FFF5E3;
  }
  .class_list .class_dis {
    background: #E7EEFF;
  }
  .tab {
    border-bottom: 0.03rem solid #FFC151;
    position: relative;
    height: 0.35rem;
  }
  .tab ul {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .tab ul li {
    float: left;
    color: #fff;
    background: #FFD893;
    text-align: center;
    font-size: 0.14rem;
    padding: 0rem 0.25rem;
    border-radius: 0.06rem 0.06rem 0 0;
    cursor: pointer;
    height: 0.35rem;
    line-height: 0.37rem;
  }
  .tab ul .tab_active {
    background: #FFC151;
  }
  .tab_blue {
    border-bottom: 0.03rem solid #4592FE;
    position: relative;
    height: 0.44rem;
  }
  .tab_blue ul {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: baseline;
  }
  .tab_blue ul li {
    float: left;
    color: #fff;
    text-align: center;
    font-size: 0.14rem;
    padding: 0rem 0.25rem;
    border-radius: 0.06rem 0.06rem 0 0;
    cursor: pointer;
    height: 0.35rem;
    line-height: 0.37rem;
  }
  .tab_blue ul li:nth-child(1) {
    background: #4592FE;
  }
  .tab_blue ul li:nth-child(2) {
    background: #84B7FF;
  }
  .tab_blue ul li:nth-child(3) {
    background: #AACDFF;
  }
  .tab_blue ul .tab_active {
    padding-top: 0.09rem;
  }
  .search_position {
    height: 0.36rem;
  }
  .search_box {
    width: 4.04rem;
    display: flex;
    position: relative;
    background: #E6E8EF;
    border-radius: 0.10rem;
  }
  .search_box img {
    position: absolute;
    width: 0.19rem;
    height: 0.18rem;
    top: 0.1rem;
    left: 0.13rem;
  }
  .search_box input {
    flex: 1;
    margin-left: 0.35rem;
    border: none;
    background: #E6E8EF;
  }
  .search_box .search_btn {
    width: 0.8rem;
    line-height: 0.35rem;
    color: #fff;
    text-align: center;
    font-size: 0.16rem;
    background: #FFC151;
    border-radius: 0 0.1rem 0.1rem 0;
  }
  .el-dialog {
    width: 100%;
    top: 0;
    z-index: 2001;
    border-radius: 0.23rem;
    display: flex;
    flex-direction: column;
    overflow:hidden;
  }
  .el-dialog .dialog_content {
    width: 8.22rem;
    height: 6.82rem;
    background: #fff;
    border-radius: 0.23rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3.41rem;
    margin-left: -4.11rem;
    display: flex;
    flex-direction: column;
  }
  .el-dialog .dialog_content_big {
    height: 98%;
    left: 25%;
    top: 1%;
    background: #fff;
    border-radius: 0.23rem;
    display: flex;
  }
  .el-dialog .dialog_content_big .dialog_center {
    border-top: none;
    padding-top: 0.23rem;
    box-sizing: border-box;
  }
  .el-dialog .dialog_content_big .dialog_bottom .btn_124 {
    margin: 0rem auto 0.4rem;
  }
  .el-dialog .dialog_header {
    height: 0.81rem;
    text-align: center;
    line-height: 0.81rem;
    color: #4A4A4A;
    font-size: 0.22rem;
    position: relative;
  }
  .el-dialog .dialog_header .dialog_back {
    top: 0.24rem;
    left: 0.24rem;
    position: absolute;
    height: 0.26rem;
    width: 0.12rem;
    background: url('../../static/image/arrow_left.png');
    background-size: cover;
    cursor: pointer;
  }
  .el-dialog .dialog_center {
    flex: 1;
    border-top: 0.01rem solid #979797;
    overflow: auto;
    text-align: center;
  }
  .el-dialog .dialog_center .dialog_l_r {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_title {
    height: 0.5rem;
    line-height: 0.51rem;
    border-bottom: 0.01rem solid #979797;
    font-size: 0.18rem;
    text-align: center;
    color: #4A4A4A;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left {
    width: 2.55rem;
    border-right: 0.01rem solid #979797;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .item_delete {
    width: 0.11rem;
    height: 0.13rem;
    padding: 0 0.23rem;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top {
    display: flex;
    height: 2.86rem;
    flex-direction: column;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .top_list {
    flex: 1;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .top_list .item {
    width: 100%;
    height: 0.51rem;
    border-bottom: 0.01rem solid #979797;
    display: flex;
    align-items: center;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .top_list .item .item_photo {
    width: 0.4rem;
    height: 0.4rem;
    display: block;
    padding: 0 0.1rem 0 0.17rem;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .top_list .item .item_center {
    color: #4A4A4A ;
    flex: 1;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .top_list .item .item_center .name {
    font-size: 0.15rem;
    text-align: left;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .top_list .item .item_center .name_label {
    font-size: 0.12rem;
    text-align: left;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .dialog_l_btn {
    height: 0.99rem;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .dialog_l_btn .btn_172 {
    margin: 0.11rem auto;
    height: 0.33rem;
    line-height: 0.33rem;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_bottom {
    height: 2.6rem;
    border-top: 0.01rem solid #979797;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_bottom .bottom_list .item {
    width: 100%;
    height: 0.4rem;
    border-bottom: 0.01rem solid #979797;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_bottom .bottom_list .item span {
    padding-left: 0.2rem;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_rig {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_rig .dialog_r_top {
    flex: 1;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_rig .dialog_r_bottom {
    height: 1.11rem;
    display: flex;
    align-items: center;
    border-top: 0.01rem solid #979797;
    justify-content: center;
  }
  .el-dialog .dialog_footer {
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.01rem solid #979797;
  }
  .dialog_result .dialog_content {
    width: 6.12rem;
    height: 3.61rem;
  }
  .dialog_result .dialog_content .dialog_center {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0;
  }
  .dialog_result .dialog_content .dialog_center .result_icon {
    width: 1.1rem;
    height: 1.14rem;
    display: block;
  }
  .dialog_result .dialog_content .dialog_center .result_txt {
    text-align: center;
    color: #4A4A4A;
    font-size: 0.25rem;
    margin-top: 0.27rem;
  }
  .dialog_result .dialog_content .dialog_center .confirm {
    color: #4A4A4A;
    font-size: 0.25rem;
    margin-bottom: 0.87rem;
  }
  .dialog_result .dialog_content .dialog_center .confirm_btn {
    display: flex;
    justify-content: space-between;
    width: 3.5rem;
  }
  .form {
    padding-top: 0.26rem;
    text-align: left;
  }
  .form .form_row {
    color: #4A4A4A;
    display: flex;
    padding: 0 0.34rem;
    font-size: 0.18rem;
    margin-bottom: 0.39rem;
  }
  .form .form_lable {
    width: 2.17rem;
  }
  .form .form_box {
    flex: 1;
  }
  .form .form_box input {
    border: 0.01rem solid #D8D8D8;
    width: 1.64rem;
    height: 0.3rem;
    padding-left: 0.07rem;
  }
  .form .form_box textarea {
    width: 100%;
    height: 1.10rem;
    border: 0.01rem solid #C6C6C6;
  }
  .form .form_box .select1_98 {
    width: 0.98rem;
    margin-left: 0.24rem;
  }
  .form .form_box .password {
    width: 1.98rem;
  }
  .form .form_box .code {
    width: 2.44rem;
    padding-right: 0.68rem;
    box-sizing: border-box;
  }
  .form .form_box .key {
    width: 2.44rem;
  }
  .form .form_box .radio_group {
    margin-top: 0.17rem;
  }
  .form .form_box .radio_group .radio_row {
    display: flex;
    margin-bottom: 0.15rem;
  }
  .form .form_box .radio_group .radio_row span {
    width: 0.88rem;
    color: #8E8E8E;
    font-size: 0.14rem;
  }
  .form .form_box .radio_group .radio_row input {
    width: auto;
    margin-left: 0.24rem;
    margin-right: 0.05rem;
  }
  .dialog_form {
    padding-top: 0;
  }
  .dialog_form .form_lable {
    width: auto;
    padding-right: 0.1rem;
  }
  .teacher_box {
    text-align: center;
    width: 3.6rem;
    margin: 0 auto;
    padding-top: 0.3rem;
  }
  .teacher_box .photo {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    padding-bottom: 0.12rem;
  }
  .teacher_box .name {
    color: #4A4A4A;
    font-size: 0.2rem;
  }
  .teacher_box .id {
    font-size: 0.16rem;
    color: #9B9B9B;
  }
  .teacher_box .grade {
    background: #FFC151;
    border-radius: 6px;
    text-align: center;
    padding: 0.05rem 0.15rem;
    margin: 0.05rem 0 0.08rem 0;
    display: inline-block;
  }
  .teacher_box .phone {
    font-size: 0.12rem;
    color: #9B9B9B;
  }
  .teacher_box .statistics {
    height: 1rem;
    background: #FFFFFF;
    border: 0.01rem solid #979797;
    border-radius: 0.20rem;
    display: flex;
    padding: 0.21rem 0;
    margin: 0.18rem 0 0.09rem 0;
    box-sizing: border-box;
  }
  .teacher_box .statistics .item {
    border-left: 0.01rem solid #C6C6C6;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .teacher_box .statistics .item .num {
    font-size: 0.3rem;
    color: #9B9B9B;
  }
  .teacher_box .statistics .item .txt {
    font-size: 0.13rem;
    color: #787878;
    opacity: 0.4;
  }
  .teacher_box .statistics .item:first-child {
    border-left: none;
  }
  .teacher_box .lesson_lock .lock_row {
    display: flex;
    margin-bottom: 0.12rem;
  }
  .teacher_box .lesson_lock .lock_row .name {
    width: 0.54rem;
    height: 0.54rem;
    border-radius: 100%;
    text-align: center;
    font-size: 0.1rem;
    color: #fff;
    line-height: 0.54rem;
    margin-right: 0.2rem;
  }
  .teacher_box .lesson_lock .lock_row .lock_level {
    width: 2.76rem;
    height: 0.54rem;
    border-radius: 0.27rem;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .lock_item {
    padding: 0.09rem 0;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .lock_item .lock {
    width: 0.21rem;
    height: 0.2rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -0.1rem;
    left: 50%;
    margin-left: -0.1rem;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .lock_item p {
    color: #D8D8D8;
    font-size: 0.1rem;
    opacity: 0.6;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .lock_item:before {
    content: '';
    height: 0.36rem;
    width: 0.01rem;
    position: absolute;
    background: #C6C6C6;
    top: 0.09rem;
    right: 0.01rem;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .lock_item:last-child:before {
    content: '';
    height: 0.36rem;
    width: 0rem;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_y {
    background: #FFC151;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_y p {
    color: #fff;
    opacity: 1;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_y::before {
    content: '';
    height: 0.36rem;
    width: 0rem;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_blue::before {
    content: '';
    height: 0.36rem;
    width: 0rem;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_red::before {
    content: '';
    height: 0.36rem;
    width: 0rem;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_purple::before {
    content: '';
    height: 0.36rem;
    width: 0rem;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_blue {
    background: #6EDBEF;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_blue p {
    color: #fff;
    opacity: 1;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_red {
    background: #FF696C;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_red p {
    color: #fff;
    opacity: 1;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_purple {
    background: #777DFF;
  }
  .teacher_box .lesson_lock .lock_row .lock_level .unlock_purple p {
    color: #fff;
    opacity: 1;
  }
  .teacher_box .lesson_lock .lock_row_y .name {
    background: #FFC151;
  }
  .teacher_box .lesson_lock .lock_row_b .name {
    background: #6EDBEF;
  }
  .teacher_box .lesson_lock .lock_row_r .name {
    background: #FF696C;
  }
  .teacher_box .lesson_lock .lock_row_p .name {
    background: #777DFF;
  }
  .wrap {
    width: 100%;
    height: 100%;
    min-height: 10.8rem;
    background: url('../../static/image/wrapBackground.png');
    background-size: cover;
    position: absolute;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg-login.png', sizingMethod='scale');
  }
  .wrap header {
    height: 1.45rem;
    line-height: 1.45rem;
  }
  .wrap header .header_left {
    float: left;
  }
  .wrap header .header_left img {
    width: 3.30rem;
    height: 0.65rem;
    display: block;
    margin: 0.42rem 0 0 0.30rem;
  }
  .wrap header .header_right {
    float: right;
  }
  .wrap header .header_right img {
    width: 0.72rem;
    height: 0.43rem;
    display: block;
    margin: 0.49rem 0.48rem 0 0;
  }
  .wrap .content {
    width: 15.96rem;
    height: 7.90rem;
    margin: 0 auto;
    background: #F3F6FC;
    border-radius: 0.20rem;
    display: flex;
  }
  .wrap .content .content_left {
    width: 4.5rem;
    height: 100%;
    background: url('../../static/image/personalcenter_bg.png');
    background-size: cover;
    position: relative;
  }
  .wrap .content .content_left .out_login {
    position: absolute;
    border: 1px solid #fff;
    bottom: 0.42rem;
    left: 1.19rem;
  }
  .wrap .content .content_right {
    flex: 1;
    display: flex;
  }
  .wrap .content .content_right .content1 {
    width: 5.1rem;
    padding-left: 0.3rem;
    box-sizing: border-box;
    position: relative;
  }
  .wrap .content .content_right .content1 .left_content {
    height: 6.47rem;
    border-right: 1px #D8D8D8 solid;
    overflow: hidden;
    padding-right: 0.3rem;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
  }
  .wrap .content .content_right .content2 {
    flex: 1;
    padding: 0 0.3rem;
    position: relative;
  }
  .wrap .content .content_right .content2 .right_content {
    height: 6.27rem;
  }
  .wrap .content .content_right .content2 .right_content .classInfo {
    flex: 1;
  }
  .wrap .content .content_right .content2 .right_content .classInfo .classInfoItem {
    display: flex;
    flex-direction: column;
  }
  .wrap .content .content_right .content2 .lesson_step_list .lesson_item .lesson_box .lesson_info {
    flex: 1;
  }
  .wrap .content .content_right .content2 .lesson_step_list .lesson_item .lesson_box .lesson_info .lesson_step_lable {
    text-align: right;
    font-size: 0.13rem;
    color: #C1C1C1;
    margin-right: 0.25rem;
    margin-top: 0.14rem;
  }
  .wrap .content .content_right .content2 .lesson_step_list .lesson_item .lesson_box .lesson_info .lesson_step_lable_ing {
    color: #FFC151;
  }
  .wrap .content .content_right .content2 .lesson_step_list .lesson_item .lesson_box .lesson_info .lesson_step {
    margin: 0.1rem 0.25rem 0 0rem;
    height: 0.03rem;
    position: relative;
  }
  .wrap .content .content_right .content2 .lesson_step_list .lesson_item .lesson_box .lesson_info .lesson_step .lesson_step_bg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.28;
    background: #979797;
    height: 0.03rem;
    z-index: 1;
    width: 100%;
  }
  .wrap .content .content_right .content2 .lesson_step_list .lesson_item .lesson_box .lesson_info .lesson_step .lesson_step_width {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFC151;
    width: 0%;
    height: 0.03rem;
    z-index: 10;
    position: relative;
  }
  .wrap .content .content_right .content2 .lesson_step_list .lesson_item .lesson_box .lesson_info .lesson_step .lesson_step_width:after {
    content: '';
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 100%;
    position: absolute;
    right: -0.04rem;
    top: -0.02rem;
    background: #FFC151;
  }
  .wrap .content .content_right .content2 .student_management .search_position {
    width: 100%;
    height: 0.36rem;
    margin: 0.15rem 0 0.3rem 0;
  }
  .wrap .content .content_right .content2 .student_management .class_infomation {
    height: 1.04rem;
    border-radius: 0.2rem;
    background: #fff;
    width: 100%;
    padding: 0.19rem 0;
    box-sizing: border-box;
    display: flex;
  }
  .wrap .content .content_right .content2 .student_management .class_infomation div {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .wrap .content .content_right .content2 .student_management .class_infomation .item1 {
    font-size: 0.15rem;
    color: #FFC151;
  }
  .wrap .content .content_right .content2 .student_management .class_infomation .item2 span {
    font-size: 0.12rem;
    color: #9B9B9B;
  }
  .wrap .content .content_right .content2 .student_management .class_infomation .item3 .item_num {
    font-size: 0.3rem;
    color: #9B9B9B;
  }
  .wrap .content .content_right .content2 .student_management .class_infomation .item3 .item_txt {
    font-size: 0.13rem;
    color: #787878;
  }
  .wrap .content .content_right .content2 .student_management .person_List {
    padding-top: 0.19rem;
    height: 3.9rem;
    overflow: auto;
  }
  .wrap .content .content_right .content2 .student_management .person_List .person_box {
    width: 100%;
    height: 0.66rem;
    line-height: 0.66rem;
    border-radius: 0.425rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    color: #5C5C5C;
    font-size: 0.16rem;
    margin-bottom: 0.14rem;
  }
  .wrap .content .content_right .content2 .student_management .person_List .person_box .person_name {
    padding-left: 0.51rem;
  }
  .wrap .content .content_right .content2 .student_management .person_List .person_box .person_handle {
    padding-right: 0.44rem;
    display: flex;
    align-items: center;
  }
  .wrap .content .content_right .content2 .student_management .person_List .person_box .person_handle .icon1 {
    width: 0.23rem;
    height: 0.22rem;
    display: inline-block;
    background: url('../../static/image/personHandle1.png');
    background-size: 100%;
    margin-right: 0.3rem;
  }
  .wrap .content .content_right .content2 .student_management .person_List .person_box .person_handle .icon2 {
    width: 0.23rem;
    height: 0.22rem;
    display: inline-block;
    background: url('../../static/image/personHandle2.png');
    background-size: cover;
  }
